<!-- Floating Sidebar -->
<div class="floating-sidebar text-white">
    <center><span class="icon-logo"><strong>{{ app_name }}</strong></span></center>
    <ul class="nav nav-pills flex-column text-center icon-container">
        <li class="nav-item">
            <a href="#" class="nav-link text-white py-3">
                <span class="material-symbols-rounded">
                    home
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-white py-3">
                <span class="material-symbols-rounded">
                    calendar_month
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-white py-3">
                <span class="material-symbols-rounded">
                    bar_chart
                </span>
            </a>
        </li>
        <li class="nav-item settings">
            <a href="#" class="nav-link text-white py-3">
                <span class="material-symbols-rounded">
                    settings
                </span>
            </a>
        </li>
        <!-- Tambahkan item lainnya -->
    </ul>
</div>


<div class="header-info">
    <div class="header-content">
        <span><h4>Good Morning, <b>{{ session['user']['name'] }}</b>!</h4></span>
    </div>
    <div class="header-icons">
        <button class="btn btn-light position-relative">
            <span class="material-symbols-rounded">
                notifications
            </span>
        </button>
        <img src="{{ session['user']['picture'] }}" alt="Profile" class="profile-picture">
    </div>
</div>
