:root {
    --primary-color: #000000;
    --secondary-color: #D0E1E9;
    --base-color: #DFECF2;
    --default-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

body {
    background-color: var(--base-color) !important;
}

main {
    height: 100vh;
    margin-top: 1.6%;
    margin-left: 6.6%;
    margin-right: 0.9%;
    background-color: var(--secondary-color);
}

/* Floating Sidebar */
.floating-sidebar {
    background-color: var(--primary-color) !important;
    position: fixed;
    top: 1.8%; /* Beri jarak dari atas */
    left: 1%; /* Beri jarak dari kiri */
    width: 5em; /* Lebar sidebar */
    height: 96.2%; /* Tinggi otomatis berdasarkan konten */
    padding: 10px;
    padding-top: 3%;
    border-radius: 10px; /* Membuat sudut melengkung */
    box-shadow: var(--default-shadow);
}

/* Nav links dalam sidebar */
.floating-sidebar .nav-link {
    padding: 10px;
    text-align: center;
    transition: all 0.3s ease;
}

.floating-sidebar .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Highlight saat hover */
    border-radius: 8px;
}

.settings {
    margin-top: 490%;
}

.icon-logo {
    text-align: center;
}

.icon-container {
    margin-top: 440%;
}

.header-info {
    top: 2%;
    margin-left: 6.3%;
    margin-right: 0.9%;
    height: 6vh;
    position: sticky; /* Tetap di atas saat scroll */
    z-index: 1050; /* Pastikan berada di atas elemen lain */
    color: #333; /* Warna teks */
    display: flex; /* Flexbox untuk menyusun konten */
    justify-content: space-between;
    align-items: center; /* Vertikal tengah */
    padding: 0 20px 0 6px; /* Tambahkan padding untuk spasi horizontal */
}

/* Konten Header */
.header-content {
    font-size: 1.2rem;
    font-weight: 500;
}

/* Container untuk ikon */
.header-icons {
    display: flex;
    align-items: center; /* Ikon rata vertikal */
    gap: 15px; /* Spasi antar elemen */
}

/* Gaya tombol notifikasi */
.header-icons .btn {
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header-icons .btn i {
    font-size: 1.5rem;
    color: #555;
}

/* Badge untuk notifikasi */
.header-icons .badge {
    font-size: 0.75rem;
    color: #fff;
}

/* Foto Profil */
.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Membuat foto berbentuk lingkaran */
    object-fit: cover;
    cursor: pointer;
}